header {
  padding: 6px;
}
nav {
  padding: 6px;
  font-size: 20px;
  border-bottom: 2px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  /* width: 33%; */
  margin: 0%;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
.menuItem {
  padding: 16px;
}
.menuItem:hover {
  cursor: pointer;
  border-radius: 6px;
  background-color: #e6f4ff;
}

footer {
  background-color: dimgrey;
  color: white;
  display: flex;
  justify-content: space-around;
  position: sticky;
  left: 0px;
  bottom: 0px;
}

.main{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    /* flex-grow: 1; */
}
