* {
  font-size: 26px;
  border-radius: 8px;
}

form {
  margin: auto;
  width: 60%;
  padding: 16px;
  border: 0px solid black;
  background-color: #d2edff;
  text-align: center;
  display: grid;
  grid-template-columns: 50% 50%;
  /* gap: 8px; */
}

h2 {
  grid-column: 1/3;
  grid-row: 1;
  font-size: xx-large;
}

input[type]:not(
    [type="color"],
    [type="reset"],
    [type="button"],
    [type="file"],
    [type="checkbox"],
    [type="radio"]
  ),
select,
textarea {
  border: 2.5px solid #cccccc;
  padding: 2px;
  font-size: 22px;
  width: 98%;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 4px;
}

label {
  grid-column: 2;
}

input[type="checkbox"],
[type="radio"] {
  width: 18px;
  height: 18px;
  /* border: 2px solid #333; */
  background-color: #fff;
}

.btns {
  grid-column: 1/3;
  display: grid;
  grid-template-columns: 33% 33% 33%;
}
#reset,
#submit {
  margin: 4px;
  padding: 6px;
  font-size: 22px;
  width: 80%;
}
#reset {
  grid-column: 1;
  grid-row: 1;
  justify-self: start;
  border: none;
  background-color: #999999;
}
#reset:hover {
  background-color: #c0c0c0;
}
#submit {
  grid-column: 3;
  grid-row: 1;
  justify-self: end;
  border: none;
  background-color: #7cc9fd;
}
#submit:hover {
  background-color: #a1d8fd;
}
input[type="file"] {
  width: 100%;
}
